.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-family: Arial, sans-serif;
  padding-bottom: 0;
  height: 125px;
}

.header__title {
  font-size: 41px;
  line-height: 52px;
}

@media screen and (max-width: 630px) {
  .header {
    width: 282px;
    height: 75px;
  }
}
