.main {
  background-color: green;
  display: flex;
  font-family: Arial, sans-serif;
  height: 650px;
  text-align: center;
}

.main__heading {
  text-align: center;
  height: 40px;
}

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.iframe {
  height: 300px;
  width: 600px;
  padding-top: 80px;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .main {
    width: 600px;
    height: 500px;
  }
  .iframe {
    width: 282px;

    padding-top: 0;
    padding-bottom: 0;
  }
}
